# Object files
*.o

Swap files
*.swp

# Make files
make
*.mk

# Build folder
Debug

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
